## Imports from packages that come with R - functions from other external packages 
## are called explicitly when used.
importFrom("grDevices", "dev.new", "dev.off", "pdf", "adjustcolor", "rainbow")
importFrom("graphics", "grid", "image", "lines", "par", "plot", "text")
importFrom("stats", "median")
importFrom("utils", "download.file", "head", "read.csv", "tail")
importFrom("sp", "coordinates")

# Exports - in alphabetic order
export(calculate.mon.weights)
export(calculate.statistics.cmip5)
export(cdo.command)
export(cdo.gridcor)
export(cdo.mean)
export(cdo.regrid)
export(cdo.spatSd)
export(cmip5.urls)
export(find.file)
export(getatt)
export(getCM)
export(getGCMs)
export(getReference)
export(gen.mask.srex)
export(get.shapefile)
export(get.srex.region)
export(getCFSR)
export(getCRU)
export(getEOBS)
export(getERA)
export(getERA5)
export(getGPCP)
export(getPolCoords)
export(gunzip)
export(mask.zoo)
export(metaextract)
export(metaextract.cmip5)
export(python.getEra)
export(python.getEra5)
export(resolution)