## Imports from packages that come with R - functions from other external packages 
## are called explicitly when used.
importFrom("grDevices", "dev.new", "dev.off", "pdf", "adjustcolor", "rainbow")
importFrom("graphics", "grid", "image", "lines", "par", "plot", "text")
importFrom("stats", "median", "start", "end")
importFrom("utils", "download.file", "head", "read.csv", "tail", "str")
importFrom("sp", "coordinates")

# Exports - in alphabetic order
export(aggregateArea)
export(calculate.mon.weights)
export(calculate.statistics.cmip)
#export(calculate.statistics.cmip5)
export(cdo.command)
export(cdo.gridcor)
export(cdo.mean)
export(cdo.regrid)
export(cdo.spatSd)
export(check.ncdf4)
export(cleanstr)
export(cmip5.urls)
export(cmip3.model_id)
export(cmip5.model_id)
export(cmip6.model_id)
export(datafrequency)
export(distAB)
export(find.file)
export(gen.mask.srex)
export(get.shapefile)
export(get.srex.region)
export(getCM)
export(getCMIP5)
export(getGCMs)
export(getReference)
export(getCFSR)
export(getCRU)
export(getEOBS)
export(getERAint)
export(getERA5)
export(getGPCP)
export(getPolCoords)
export(getatt)
export(getncid)
export(gunzip)
export(mask.zoo)
export(metaextract)
export(metaextract.v2)
export(metaextract.cmip)
export(metaextract.cmip5)
export(python.getEraint)
export(python.getEra5)
export(resolution)
export(retrieve)
export(retrieve.ncdf4)
export(retrieve.rcm)